@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: 37, 166, 90; /* Glassdoor green */
  --text-color: 60, 60, 60; /* Dark gray for text */
  --background-color: 243, 246, 248; /* Light gray for background */
  --border-color: 224, 224, 224; /* Light gray for borders */
}

body {
  color: rgb(var(--text-color));
  background-color: rgb(var(--background-color));
}

a {
  color: rgb(var(--primary-color));
}

a:hover {
  color: rgb(30, 144, 74); /* Darker shade of green for hover */
}
